<div *ngIf="!user">
  <asl-google-signin-button
    type="icon"
    size="medium"
  ></asl-google-signin-button>
</div>


<div *ngIf="user" class="card">
  <div class="container">
    <h4 class="card-title">{{ user.name }}</h4>
    <p class="card-text">{{ user.email }}</p>
    <p class="card-text">Logged in with {{ user.provider }}</p>
  </div>
  <div class="card-block">
    <button (click)="signOut()">Sign out</button>
  </div>
  <div
    class="card-block"
    *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID"
  >
    <button (click)="refreshGoogleToken()">
      Refresh google token
    </button>
  </div>
</div>
